In [7]:
import django

In [8]:
import backtesting

In [1]:
import yfinance as yf
#import talib
symbol="TATAMOTORS.NS"
df=yf.Ticker(symbol).history(period="2y",interval="1d")

In [4]:
df

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-09-22 00:00:00+05:30,302.208117,312.825022,302.058589,309.136536,29545253,0.0,0.0
2021-09-23 00:00:00+05:30,312.226899,322.993331,312.226899,320.501099,52701665,0.0,0.0
2021-09-24 00:00:00+05:30,324.089906,325.934164,315.068007,316.962128,28901243,0.0,0.0
2021-09-27 00:00:00+05:30,322.145977,332.563521,322.145977,330.619568,56305136,0.0,0.0
2021-09-28 00:00:00+05:30,332.962265,334.956051,323.491781,328.276855,28497009,0.0,0.0
...,...,...,...,...,...,...,...
2023-09-15 00:00:00+05:30,628.700012,636.500000,627.150024,634.250000,18917805,0.0,0.0
2023-09-18 00:00:00+05:30,635.900024,644.200012,633.150024,640.650024,11108349,0.0,0.0
2023-09-20 00:00:00+05:30,640.700012,647.000000,637.000000,638.500000,11777925,0.0,0.0
2023-09-21 00:00:00+05:30,638.500000,641.700012,624.000000,627.049988,9266854,0.0,0.0
2023-09-22 00:00:00+05:30,628.000000,630.799988,619.000000,620.450012,6549247,0.0,0.0